<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="dns-prefetch preconnect" href="https://cdn.jsdelivr.net" />

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Aclonica&family=Fira+Sans+Condensed:wght@400&family=Rammetto+One&display=swap" />

	<!-- CSS libraries -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" />

	<!-- paged.js library (css media print) -->
	<script src="https://cdn.jsdelivr.net/npm/pagedjs/dist/paged.polyfill.js"></script>

	<title>{{title}}</title>

	<!-- CSS from style.css -->
	<style>
	{{&cssBook}}
	</style>

	<script>
		// Checked by Puppeteer
		window.fullRender = false;
		// Called by pagedjs
		class MyHandler extends Paged.Handler {
			constructor(chunker, polisher, caller) {
				super(chunker, polisher, caller);
			}

			afterRendered(pages) {
				console.info("End of pagedjs rendering");
				window.fullRender = true;
			};
		}
		Paged.registerHandlers(MyHandler);
	</script>
</head>

<body>
	<div class="recipe-section">
		<div>
			<img class="cover" src="{{cover}}" />
			<h1 class="section">{{title}}</h1>
		</div>
	</div>

	<div class="index">
		{{#sections}}
		<section class="index-section">
			<h2><a href="#{{textToId title}}">{{title}}</a></h2>
			<ul>
				{{#recipes}}
				<li class="index-recipe">
					<span><a href="#{{textToId title}}">{{title}}</a></span>
					{{#tags}}<span class="index-tag tag-color-{{color}}">{{name}}</span>{{/tags}}
				</li>
				{{/recipes}}
			</ul>
		</section>
		{{/sections}}
	</div>

	{{#sections}}
	<section class="type" id="{{textToId title}}">
		<div class="recipe-section">
			<div>
				<img class="cover" src="{{cover}}" />
				<h1 class="section">{{title}}</h1>
				<!-- Only needed for footer in page CSS -->
				<div class="footerIndex"></div>
			</div>
		</div>
		{{#recipes}}
		<article class="recipe" id="{{textToId title}}">
			<div class="presentation">
				<div class="title">
					<h1 class="recipe">{{title}}</h1>
					<img class="cover" src="{{cover}}" />
					<!-- Only needed for footer in page CSS -->
					<div class="footerIndex">[{{../title}}] {{firstLetter title}}</div>
				</div>
				<div class="properties">
					{{#tags}}
					<div class="tags">
						<span class="mdi mdi-tag-multiple-outline"></span>
						<span class="value">{{name}}</span>
					</div>
					{{/tags}}
					{{#numberPersons}}
					<div class="numberPersons">
						<span class="mdi mdi-account-group-outline"></span>
						<span class="value">{{.}}</span>
					</div>
					{{/numberPersons}}
					{{#preparationDuration}}
					<div class="preparationDuration">
						<span class="mdi mdi-timer-outline"></span>
						<span class="value">{{minutesToDuration .}}</span>
					</div>
					{{/preparationDuration}}
					{{#restDuration}}
					<div class="restDuration">
						<span class="mdi mdi-motion-pause-outline"></span>
						<span class="value">{{hoursToDuration .}}</span>
					</div>
					{{/restDuration}}
					{{#temperature}}
					<div class="temperature">
						<span class="mdi mdi-thermometer"></span>
						<span class="value">{{.}} °C</span>
					</div>
					{{/temperature}}
					{{#cookDuration}}
					<div class="cookDuration">
						<span class="mdi mdi-fire"></span>
						<span class="value">{{minutesToDuration .}}</span>
					</div>
					{{/cookDuration}}
				</div>
			</div>
			<div class="content">
				{{&htmlContent}}
			</div>
		</article>
		{{/recipes}}
	</section>
	{{/sections}}
</body>

</html>