<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<link rel="dns-prefetch preconnect" href="https://cdn.jsdelivr.net" />

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/css2?family=Aclonica&family=Fira+Sans+Condensed:wght@400&family=Rammetto+One&display=swap" />

	<!-- CSS libraries -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css" />

	<!-- paged.js library (css media print) -->
	<script src="https://cdn.jsdelivr.net/npm/pagedjs/dist/paged.polyfill.js"></script>

	<title>{{title}}</title>

	<!-- CSS from style.css -->
	{{&cssBook}}

	<script>
		// Checked by Puppeteer
		window.fullRender = false;
		// Called by pagedjs
		class MyHandler extends Paged.Handler {
			constructor(chunker, polisher, caller) {
				super(chunker, polisher, caller);
			}

			afterRendered(pages) {
				console.info("End of pagedjs rendering");
				window.fullRender = true;
			};
		}
		Paged.registerHandlers(MyHandler);
	</script>
</head>

<body>
	<div class="recipe-section">
		<div>
			<img class="cover" src="{{cover}}" />
			<h1 class="section">{{title}}</h1>
		</div>
	</div>

	<div class="index">
		{{#sections}}
		<section class="index-section">
			<h2>{{title}}</h2>
			<ul>
				{{#recipes}}
				<li class="index-recipe">
					<span>{{title}}</span>
					{{#tags}}<span class="index-tag tag-color-{{color}}">{{name}}</span>{{/tags}}
				</li>
				{{/recipes}}
			</ul>
		</section>
		{{/sections}}
	</div>

	{{#sections}}
	<section class="type">
		<div class="recipe-section">
			<div>
				<img class="cover" src="{{cover}}" />
				<h1 class="section">{{title}}</h1>
				<!-- Only needed for footer in page CSS -->
				<div class="footerIndex"></div>
			</div>
		</div>
		{{#recipes}}
		<article class="recipe">
			<div class="presentation row align-items-start align-items-stretch">
				<div class="title col-9">
					<h1 class="recipe">{{title}}</h1>
					<img class="cover" src="{{cover}}" />
					<!-- Only needed for footer in page CSS -->
					<div class="footerIndex">[{{../title}}] {{firstLetter title}}</div>
				</div>
				<div class="properties col-3">
					{{#tags}}
					<div class="tags">
						<span class="mdi mdi-tag-multiple-outline col-1"></span>
						<span class="value col-2">{{name}}</span>
					</div>
					{{/tags}}
					{{#numberPersons}}
					<div class="numberPersons">
						<span class="mdi mdi-account-group-outline col-1"></span>
						<span class="value col-2">{{.}}</span>
					</div>
					{{/numberPersons}}
					{{#preparationDuration}}
					<div class="preparationDuration">
						<span class="mdi mdi-timer-outline col-1"></span>
						<span class="value col-2">{{minutesToDuration .}}</span>
					</div>
					{{/preparationDuration}}
					{{#restDuration}}
					<div class="restDuration">
						<span class="mdi mdi-motion-pause-outline col-1"></span>
						<span class="value col-2">{{hoursToDuration .}}</span>
					</div>
					{{/restDuration}}
					{{#temperature}}
					<div class="temperature">
						<span class="mdi mdi-thermometer col-1"></span>
						<span class="value col-2">{{.}} °C</span>
					</div>
					{{/temperature}}
					{{#cookDuration}}
					<div class="cookDuration">
						<span class="mdi mdi-fire col-1"></span>
						<span class="value col-2">{{minutesToDuration .}}</span>
					</div>
					{{/cookDuration}}
				</div>
			</div>
			<div class="content">
				{{&htmlContent}}
			</div>
		</article>
		{{/recipes}}
	</section>
	{{/sections}}
</body>

</html>